.flex-container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    background-color: rgb(31, 26, 26);
    align-items: stretch;
}

.flex-column-1{
    width: 30%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
}
.flex-column-2{
    width: 40%;
}
.miImg{
    width: 100%;
    height: 100%;
}
.pin-button{
    height: 100%;
}

.voltaje{
    background-color:crimson;
    color: white;
}

.ground{
    background-color:black;
    color: white;
}
.ocupado{
    background-color: rgb(23, 69, 27);
    color: white;
}

.otro{
    background-color: rgb(75, 68, 85);
    color: white;
}

.disponible{
    background-color:lightgreen;
    color: white; 
}

.disponible:hover{
    background-color:rgb(10, 233, 10);
    color: white; 
}