<div id="main" *ngIf="variablesGlobales.isLogged" style="z-index: 60;">
    <div class="fixed-top">
      <nav>
        <div class="nav-fostrap">
          <ul>
            <!-- HOME -->
            <li><a routerLink="/home">Home</a></li>
            <!-- USUARIOS -->
            <li><a>Usuarios<span class="arrow-down"></span></a>
              <ul class="dropdown">
                <li><a routerLink="/usuarios/ver"> Ver usuarios </a></li>
              </ul>
            </li>
            <!-- SENSORES -->
            <li><a>Sensores<span class="arrow-down"></span></a>
              <ul class="dropdown">
                <li><a routerLink="/sensores/ver"> Ver Sensores </a></li>
                <li><a routerLink="/registros/ver"> Ver Registros </a></li>
              </ul>
            </li>
            <!-- SELECCIONAR ZONAS -->
            <li><a>Zonas<span class="arrow-down"></span></a>
              <ul class="dropdown">
                <li><a routerLink="/zonas/ver"> Ver Zonas </a></li>
              </ul>
            </li>
            <!-- OPCIONES POR CINE -->
            <li><a>Mi Raspberry<span class="arrow-down"></span></a>
              <ul class="dropdown">
                <li><a routerLink="/pines/ver"> Ver puertos GPIO </a></li>
              </ul>
            </li>
            <!-- CERRAR SESIÓN -->
            <li><a (click)="logout()" class="cerrarSesion">Cerrar sesión</a></li>
          </ul>
        </div>
      </nav>
  </div>
  </div>
