<h1>ola</h1>
<br>
<h1>REGISTRAR ZONA</h1>
    <!-- <div class="container">
      <h1> REGISTRARSE</h1>
      <form class="form" [formGroup]="FormControl" (ngSubmit)="registrar()">
        <span>Username:</span>
        <input [class.is-invalid]="FormControl.get('username')?.touched 
                && FormControl.get('username')?.invalid" type="text" class="form-control"
          placeholder="User" formControlName="username">
        <span>Correo:</span>
        <input [class.is-invalid]="FormControl.get('email')?.touched 
        && FormControl.get('email')?.invalid" type="text" class="form-control" placeholder="ana123@gmail.com"
          formControlName="email">
        <span>Contraseña:</span>
        <input [class.is-invalid]="FormControl.get('password')?.touched 
        && FormControl.get('password')?.invalid" type="text" class="form-control" 
          formControlName="password">
         <span>Confirmar contraseña:</span>
                <input formControlName="passwordConfirmation" type="password" placeholder="Contraseña">
                 
         <button type="submit" [disabled]="FormControl.invalid" class="btn btn-outline-dark">Registrarme</button>
                <button type="submit" [disabled]="FormControl">Iniciar sesión</button>

      </form> 
    </div>-->


