<div class="bodyFake">
    <br>
    <h1>SELECCIONA UN SENSOR</h1>

    <div class="container" style="margin-top: 50px;">


        <div class="card sensor-ultr" (click)="seleccionar('Ultrasónico', 'ultrasonico',2)">
            <h3 class="title">Ultrasónico</h3>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
            </div>
            <div class="circle">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <circle class="stroke" cx="60" cy="60" r="50" />
                </svg>
            </div>
        </div>


        <div class="card sensor-pres" (click)="seleccionar('Presencia', 'presencia',1)">
            <h3 class="title">Presencia</h3>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
            </div>
            <div class="circle">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <circle class="stroke" cx="60" cy="60" r="50" />
                </svg>
            </div>
        </div>


        <div class="card sensor-infr" (click)="seleccionar('Infrarrojo', 'infrarrojo',1)">
            <h3 class="title">Infrarrojo</h3>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
            </div>
            <div class="circle">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <circle class="stroke" cx="60" cy="60" r="50" />
                </svg>
            </div>
        </div>


        <div class="card sensor-humo" (click)="seleccionar('Humo y Gas', 'humo',1)">
            <h3 class="title">Humo</h3>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
            </div>
            <div class="circle">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <circle class="stroke" cx="60" cy="60" r="50" />
                </svg>
            </div>
        </div>



        <div class="card sensor-temp" (click)="seleccionar('Temperatura y humedad', 'temperatura',1)">
            <h3 class="title">Temperatura y humedad</h3>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
            </div>
            <div class="circle">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <circle class="stroke" cx="60" cy="60" r="50" />
                </svg>
            </div>
        </div>


    </div>

    <br>

    <h1>Sensor seleccionado:
        <div class="nomSensor"> {{nombre}} </div>
    </h1>

    <br>
    <mat-divider></mat-divider>
    <br>

    <h1> SELECCIONA LOS PINES (BOARD)</h1>
    <br>
    <div class="input-group mb-3" *ngIf="cantPines == 1">
        <input (change)="comprobarForm()" [(ngModel)]="pin1" type="text" class="form-control" placeholder="PIN #1" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3" *ngIf="cantPines == 2">
        <input (change)="comprobarForm()" [(ngModel)]="pin1" type="text" class="form-control" placeholder="PIN #1" aria-label="Username">
        <input (change)="comprobarForm()" [(ngModel)]="pin2" type="text" class="form-control" placeholder="PIN #2" aria-label="Server">
    </div>
    <br>
    <button (click)="openDialog()" type="button" class="btn btn-secondary">Ver pines disponibles</button>
    <br>
    <br>

    <mat-divider></mat-divider>

    <br>
    <h1>SELECCIONA UNA ZONA</h1>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Seleccionar zona
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li *ngFor="let zona of ListaZonas">
                <a class="dropdown-item" (click)="seleccionarZona(zona.nombre ,zona._id)">{{zona.nombre}}</a>
            </li>
        </ul>
    </div>

    <div class="nomSensor"> {{zonaNom}} </div>
    <br>
    <button *ngIf="formularioCorrecto" (click)="altaSensor()" type="button" class="btn btn-info" style="width: 100%; color: white;"><b> Añadir sensor</b></button>
    <br><br>
</div>