table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .btn{
    width: 35px;
    height: 35px;
  }

  .ic{
    margin-top: -10px;
    width: 35px;
    height: 35px;
  }